@import "_var.scss";
@import "_components.scss";


 .grid-container {
 	display: grid;
 	max-width:1200px;
 	margin:0 auto;
 } 

/*min-height:32vh;*/

section {
	width: 100%;
	height: 100vh;
	display: grid;
	justify-items: center;
	align-items: center;
	background-color: #D7E3E7;
}


.element {
	width: 300px;
	height: 300px;
	background-color: #eaea;
}
.trigger {
	width: 100px;
	height: 30px;
	background-color: black;
	margin-bottom: 300px;
	position: relative;
	//dsfs1
}

